{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-sass"] }]
  ]
}
